@font-face {
    font-family: 'Roboto-Black';
    src: url('./fonts/Roboto-Black.ttf');
}

@font-face {
    font-family: 'Roboto-BlackItalic';
    src: url('./fonts/Roboto-BlackItalic.ttf');
}

@font-face {
    font-family: 'Roboto-Bold';
    src: url('./fonts/Roboto-Bold.ttf');
}

@font-face {
    font-family: 'Roboto-BoldItalic';
    src: url('./fonts/Roboto-BoldItalic.ttf');
}

@font-face {
    font-family: 'Roboto-Italic';
    src: url('./fonts/Roboto-Italic.ttf');
}

@font-face {
    font-family: 'Roboto-Light';
    src: url('./fonts/Roboto-Light.ttf');
}

@font-face {
    font-family: 'Roboto-LightItalic';
    src: url('./fonts/Roboto-LightItalic.ttf');
}

@font-face {
    font-family: 'Roboto-medium';
    src: url('./fonts/Roboto-Medium.ttf');
}

@font-face {
    font-family: 'Roboto-MediumItalic';
    src: url('./fonts/Roboto-MediumItalic.ttf');
}

@font-face {
    font-family: 'Roboto-Regular';
    src: url('./fonts/Roboto-Regular.ttf');
}

@font-face {
    font-family: 'Roboto-Thin';
    src: url('./fonts/Roboto-ThinItalic.ttf');
}

body {
    margin: 0
}

h1, h2, h3, h4, h5, h6, p, button {
    font-family: 'Roboto-medium';
    margin: 0;
}

.hero {
    background-color: #1F2937;
    color: white
}

.header {
    padding: 15px 0px;
}

.gray-p {
    color: #E5E7EB;
    font-size: 12px;
}

.flex {
    display: flex;
}

.mx-2 {
    margin-left: 2px;
    margin-right: 2px;
}

.mx-4 {
    margin-left: 4px;
    margin-right: 4px;
}

.mx-8 {
    margin-left: 8px;
    margin-right: 8px;
}

.mt-4 {
    margin-top: 4px;
}

.mt-6 {
    margin-top: 6px;
}

.mt-8 {
    margin-top: 8px;
}


.justify-around {
    justify-content: space-around;
}

.justify-between {
    justify-content: space-between;
}

.justify-center {
    justify-content: center;
}

.justify-end {
    justify-content: end;
}

.items-center {
    align-items: center;
}

.hero-title {
    color: #F9FAF8;
    font-size: 48px;
    font-weight:bolder;
}

.blue-button {
  padding: 5px 20px;
  border-radius: 0.375rem;
  border: hidden;
  background-color: #3882F6;
  color: white
}

.information-header {
  color: #1F2937;
  font-size: 36px;
  font-weight: bolder;
}

.information-box {
  border: solid;
  border-color: #3882F6;
  border-radius: 0.375rem;
  height: 150px;
  width: 150px;
}

.quotes-container {
    background-color: #E5E7EB;
    padding: 80px 0;
}

.quotes-container p {
    color: #1F2937;
    font-size: 36px;
    font-family: 'Roboto-LightItalic';
    max-width: 60%;
}

.call-to-action-container {
    background-color: #3882F6;
    padding: 20px 80px;
    width: 60%;
    border-radius: 0.375rem;
}

.call-to-action-container h1 {
    font-size: 24px;
    color: #F9FAF8
}

.call-to-action-container p {
    font-size: 16px;
    color: #E5E7EB;
}

.call-to-action-container button {
    border: 2px solid;
    border-color: #F9FAF8;
    background-color: #3882F6;
    border-radius: 0.375rem;
    color: #F9FAF8;
    padding: 5px 20px;
}

.footer {
    background-color: #1F2937;
    padding: 30px 0;
    font-family: Roboto-Light;
    color: #F9FAF8;
}