body {
    background-color: beige;
}

div {
    margin-bottom: 20px;
}

a {
    color: black;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: larger;
}

img {
    border-radius: 10%;
    border-color: black;
    border: double;
}